.Show-table{
    margin-top: 5%;
}

h1{ 
    
    /* font-family: 'Prompt', sans-serif;
    font-weight: bold; */
    font-size : xx-large;
}

table {
    box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.1);
    margin-top:2%;
    margin-bottom: 10%;
    border: none;
    width:100%;
    /* margin-left: 1%; */
    table-layout: relative;
}

table thead th{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    /* padding: 5px; */
    /* width: 100%; */
    /* height: 70px; */
}


td{
    text-align: right;
    /* padding: 5px; */
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
