.container{
    border-radius: 2rem;
    box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: 'Prompt', sans-serif;
    font-size: medium ;
}

.text-form{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.text-center p{
    text-transform: uppercase;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
}



.topic{
    margin-top: 5%;
    margin-bottom: 5%;
}

p i{
    margin-right: 1%;
    color: #f57e3a;
}
.topic .line{
    border: 10;
    height: 4px;
    background-color: #f57e3a;
    width: 250px;
}

.topic p{
    font-size: large;
    font-weight: bold;
}

.form-check {
    margin-bottom: 5%;
}

.form-check .check2 {
    margin-top: 1%;
}


#head{
    font-weight: bold;
}


.button-submit{
    margin-top: 5%;
    margin-bottom: 5%;
    background: #6ab165;
    box-shadow: 0 5px 0 #4f934b;
    position: relative;
    top:0;
    transition:all 0.2s ease-in-out 0s;
}

.button-submit:hover{
    top:3px;
    box-shadow: 0 2px 0 #4f934b;
}

.button{
    margin-bottom: 4%;
    margin-top: 4%;
}