.container{
    border-radius: 2rem;
    box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Prompt', sans-serif;
    font-size: large;
    width: 70%;
}

.text-form{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.text-center h1{
    text-transform: uppercase;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
}
.btn-submit{
    background: #6ab165;
    box-shadow: 0 5px 0 #c3cac3;
    border-radius: 25px;
    margin-bottom: 5%;
}

.text-form{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 5%;
}